
/*************************************
This css file includes several different formatting examples
GENERAL
**************************************/
a {
 text-decoration: none;
  color: #0d50cd;
 }

img {
max-width: 100%;

}

 body {
   font-family: 'Open Sans', sans-serif;
 }


header {
  float: left;
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  width: 100%;

}

.center {
 text-align: center
}



 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;

   color: #101884;

 }

 h2  {
 font-size: 1.00em;
 font-weight: normal;
 margin: -5px 0 0;
   color: #df330a;
 }


 .footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

